USE [master]
GO
/****** Object:  Database [CustomerDB]    Script Date: 6/18/2019 2:43:44 PM ******/
CREATE DATABASE [CustomerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CustomerDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CustomerDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CustomerDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/18/2019 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerEmail] [varchar](50) NULL,
	[CustomerZipCode] [int] NULL,
	[CustomerCountry] [varchar](50) NULL,
	[CustomerCity] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerZipCode], [CustomerCountry], [CustomerCity]) VALUES (1, N'Rahin', N'rahin@gmail.com', 1230, N'Bangladesh', N'Dhaka')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerZipCode], [CustomerCountry], [CustomerCity]) VALUES (2, N'Rimon', N'rimon@gmail.com', 1760, N'Bangladesh', N'Gazipur')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerEmail], [CustomerZipCode], [CustomerCountry], [CustomerCity]) VALUES (3, N'Adnan', N'adnan@gmail.com', 1520, N'Bangladesh', N'Maymansingha')
USE [master]
GO
